{:deps {org.clojure/clojure {:mvn/version "1.10.0"}
        cheshire/cheshire   {:mvn/version "5.8.0"}}
 
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {midje/midje {:mvn/version "1.10.4"}}}}}
